<IfModule mod_rewrite.c>  
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-f  
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^/]+)/([^/]+)/([^\.]+)_(\d+x\d+)(.+)$ proxy.php?id=$1&quality=$2&target_fname=$3&resolution=$4&file_extension=$5
</IfModule>